h1 {

color:  blue;


}

.row {
    margin: auto;
}
.nav-item {
	padding-left: 100px;
	padding-right: 100px;
}
body {
    background-image: url(background.jpg);
    background-size:2000px 2000px;
}

.container {
    max-width: 100000px !important;
}

.card {
height: 100%;


}
.buttonbottom {
position: absolute;
bottom: 15px;

}
