/*.subtitle {

size: px !important;

}*/
h1 {

color:  blue;


}

.row {
    margin: auto;
}
.nav-item {
	padding-left: 100px;
	padding-right: 100px;
	/*padding-bottom: 10px;*/
}
body {
    background-image: url(background2.jpg);
    /*background-size: 2000px 1000px;*/
}

.container {
    max-width: 100000px !important;
}

.card {
height: 100%;
background-color: rgba(240, 240, 240, 0.45) !important;
  transition: 1.5s;
}

.card:hover{
	background-color: rgba(240, 240, 240, 1) !important;
}


.buttonbottom {
position: absolute;
bottom: 15px;

}

.a1 {

text-align: center;
color: white;


}

.title {
text-align: center !important;
font-size: 100px !important;  
color: white !important;
padding-top: 10px !important;

}
.vid {
  
}
.blockquote-footer {

	color: black !important;
}


.authors {


}

.secret {
/*display: hidden;
color: #d3e0a6;*/
text-align: right;

}
