h1 {

color:  blue;


}

.row {
    margin: auto;
}
.nav-item {
	padding-left: 100px;
	padding-right: 100px;
}
body {
    background-image: url(background.jpg);
    /*background-size: 2000px 1000px;*/
}

.container {
    max-width: 100000px !important;
}

.card {
height: 100%;
background-color: rgba(240, 240, 240, 0.75) !important;
  transition: 1.5s;
}

.card:hover{
	background-color: rgba(240, 240, 240, 1) !important;
}


.buttonbottom {
position: absolute;
bottom: 15px;

}
